h1 {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: blue;
    text-align: center;
    justify-content: center;
    background-color: rgb(238, 105, 114);
    margin-left: 30px;
    margin-right: 30px;
}
p {
    font-size: 1.3rem;
    color: gray;
    margin-left: 20px;
}
h3 {
    background-color: rgb(196, 242, 156);
    text-align: center;
    font-size: 1.5rem;
    color: blueviolet;
    margin-left: 80px;
    margin-right: 80px;
}
.pics {
    border: 8px solid rgb(190, 8, 142);
}
.photo1 {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    border: 8px solid rgb(190, 8, 142);
}
.photo2 {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 20px;
}
.center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
figcaption {
    font-size: 1.3rem;
    color: rgb(9, 180, 12);
}
h1:hover
{
    background-color: rgb(18, 223, 31);
}
h3:hover
{
    font-size: 1.6rem;
}
video {
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 20px;
    border: 12px solid rgb(0, 0, 0);
}
.figure_video {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}